body {
    font-family: Helvetica;
    margin: 0;
}

.links {
    display: flex;
    align-content: space-around;
    width: 100%;
}

.links div {
    cursor: pointer;
    padding: 10px 40px;
    background-color: hsl(153, 47%, 49%);
    color: hsl(0, 0%, 100%);
    flex-grow: 1;
    text-align: center;
}

.links div.selected {
    background-color: hsl(153, 47%, 69%);
}

.links div:hover {
    background-color: hsl(210, 29%, 24%);
}

.banner-image {
    width: 100%;
    height: 600px;
}

.banner-image.mallorca {
    background-image: url('mallorca-aerial.jpeg');
    background-position-y: center;
}

.banner-image.corsica {
    background-image: url('corsica-urban.jpeg');
    background-position-y: -180px;
}

.banner-image.croatia {
    background-image: url('hvar.jpeg');
    background-position-y: -630px;
}

.banner-image .title {
    padding: 450px 80px;
    color: #fff;
    font-size: 56px;
}

.small-images {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: hsl(210, 29%, 24%);
}

.small-images img {
    height: 300px;
    margin: 0;
}

.accommodation {
    padding: 50px;
    background-color: hsl(153, 47%, 49%);
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.accommodation .images {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.accommodation .image {
    width: 350px;
    height: 267px;
    margin: 0;
    background-size: cover;
}

.accommodation .image.mallorca-butibalaire {
    background-image: url("mallorca-butibalaire.jpg");
}
.accommodation .image.mallorca-mountains {
    background-image: url("mallorca-mountains.jpg");
}
.accommodation .image.mallorca-beach-house {
    background-image: url("mallorca-beach-house.jpg");
}
.accommodation .image.hvar-jelsa-villa {
    background-image: url("hvar-jelsa-villa.jpg");
}
.accommodation .image.hvar-robinson {
    background-image: url("hvar-robinson.jpg");
}
.accommodation .image.hvar-german {
    background-image: url("hvar-german.jpg");
}

.accommodation .accommodation-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    opacity: 0;
    text-align: center;
}

.accommodation-text div {
    flex-grow: 1;
}

.accommodation .accommodation-text:hover {
    opacity: 1;
    cursor: pointer;
    background-color: hsla(153, 47%, 49%, 0.6);
}


.flights {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: hsl(210, 29%, 24%);
    color: #fff;
    font-size: 32px;
}

.flights > div {
    text-align: center;
    width: 400px;
}

.flights .flight-description,
.flights .flight-rate {
    padding: 10px 0;
}

.total-cost {
    padding: 50px;
    text-align: center;
    font-size: 48px;
    color: #fff;
    background-color: hsl(35, 100%, 50%);
}

.things-to-do {
    background-color: hsl(153, 47%, 49%);
    color: #fff;
    font-size: 24px;
    display: flex;
    height: 200px;
    align-content: space-evenly;
    width: 100%;
}

.things-to-do div {
    padding: 80px;
    flex-grow: 1;
    text-align: center;
}